*{
margin: 0;
padding: 0;
text-decoration: none;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifss;
box-sizing: border-box;
}

section{
    background-image: url(pattern.png);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    background-size: cover;

}
section .container{
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
}

section .container header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section .container nav{
    display: flex;
    flex-direction: row;
}
section .container nav a{
    margin-left: 40px;
    color: white;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
}
section .container nav a:nth-child(6){
    font-weight: 500;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;

}
.fefe{
    position: absolute;
    right: 2%;
    
}

h1{
    font-size: 60px;
    color: white;
}
span{
    color: #f7d06f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
p{
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 110%;

}
.btn{

    padding: 10px;
    margin: 0px;
    color: white;
    background-color: rgb(233, 74, 127);
    margin-right: 100px;
    border: none;


}
.bloc-text{
    position: relative;

}


a{
    color: white;
}
.bibi{
    font-weight: 500;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 100px;
    background-color: rgb(86, 89, 122);
}
.abc{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.him{
    color: rgb(233, 112, 64);

}

.coucou{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 130px;
    width: 100%;
    height: fit-content;
    
}

h4{
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gab{
flex-direction: row;
width: 500px;
left: 139px;
top: 1082px;
}
.MAMA.png{
    height: 500px;
    width: 300px;
}
.img1{
    width: 500px;
    height: 300px;
}
.img0{
    width: 500px;
    height: 450px;
    
}
.yoh{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(86, 89, 122);;
    
}
.han{
    margin-top: 50px;
}

.pa{
    margin-left: 50px;
    display: flex;
    
}
.mau{
    margin-top: 70px;
    margin-left:130px;
    flex-direction: row;
    display: flex;

    
}
.rio{
    position:absolute;
    left: 500px;
}
.imgoa{
    display: flex;
    justify-content: space-around;
}
.nio{
    border: 100px;
    
}
.memo{
   background-color: blue;
   
}
.bae{

}